.chat {
    height: 100%;
    width: 100%;
    min-width: 320px;
    margin-left: 8px;

    background-color: #ECF6F9;
    border: thin solid #707070;
    border-radius: 8px;
}
    .tabs {
        height: 27px;
        padding: 2px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
        .tabbutton {
            height: 23px;
            width: 25%;
            min-width: 100px;

            margin: 0 3px 0 0;
            padding: 0 5px;
            border: thin solid #B8BDBD;
            border-radius: 6px 6px 0 0;

            background-color: #EFF9F9;
            display: flex;
            flex-direction: row;
        }
        .tabbutton > .name {
            margin-top: 4px;
            text-anchor: middle;

            font-size: 8pt;
        }
    
    .chat > .header {
        border-top: thin solid #707070;
        image-rendering: pixelated;
        background-image: url("assets/background/chat_header.png");
        background-size: 100% 100%;

        margin: 0;
        height: 77px;
        padding: 7px;

        box-shadow: 0px 1px 4px #00000057;
    }
        #info {
            display: flex;
        }
            #chaticon {
                height: 16px;
            }
            #text {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
            }
                #text > #name {
                    font-weight: bold;
                    color: #333333;
                }
                #text > #message {
                    color: #6F8A92;
                    margin: 0;
                }
            
        #navbars {
            display: flex;
            flex-direction: row;
            margin-top: 3px;
        }
            .chatnav {
                height: 33px;
                padding: 0;
            }
                .chataction {
                    height: 100%;
                    width: 33px;
                    margin-left: 5px;
                }
                    .chatnav > #left {
                        width: 100%;
                        min-width: 230px;
                    }
                    .chatnav > #right {
                        width: 10%;
                        min-width: 84px;
                    }
                    .chatnav#left > .chataction {
                        float: left;
                    }
                    .chatnav#right > .chataction {
                        float: right;
                    }
                #chatnav-expand {
                    padding: 0 3px;
                    width: 40px;
                }

    .conversation {
        height: 80%;
        display: flex;
        padding: 10px;
        padding-right: 0;
    }
        #messages {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        #avatars {
            height: 100%;
        }
            #topavatar {
                position: relative;
            }
            #bottomavatar {
                position: relative;
            }
                .avatar {
                    margin: 9px;
                    height: 96px;
                    border-radius: 2px;
                }
                .frame {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            .avatarnav {
                height: 18px;
            }
                .avataraction {
                    height: 100%;
                }

        #expand {
            margin-left: 18px;
        }
            .expandbutton {
                background: url(assets/chat-window/1450_multi.png) 0 0;
                background-repeat: no-repeat;
                border: none;

                padding: 0;
                width: 12px;
                height: 31px;
            }
            .expandbutton:hover {
                background: url(assets/chat-window/1450_multi.png) 26px 0;
            }
            .expandbutton:active {
                background: url(assets/chat-window/1450_multi.png) 13px 0;
            }
