#contacts {
    background-color: white;
    float: left;

    display: flex;
    flex-direction: column;

    width: 30%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
}

    #contacts > .header {
        background-image: url("assets/background/msgres_fullheader.png");
        background-repeat: no-repeat;
        background-size:100% 100%;
        height: 95px;
        width: 100%;
    }
        .titlebar {
            padding: 6px;
            padding-bottom: 5px;
            height: 28px;
            display: flex;
            flex-direction: row;
            height: fit-content;
        }
            #title {
                height: 10px;
                margin-top: 4px;
                margin-left: 4px;
            }

    .user-info {
        display: flex;
        height: 69px;
        width: 100%;
        box-sizing: border-box;
        padding: 8px 14px;
    }
        #frame {
            height: 62px;
            width: auto;
            position: absolute;
            top: 42px;
            left: 19px;
        }
        #avatar {
            height: 48px;
            width: auto;
            border-radius: 2px;
        }

    .profile {
        margin: auto;
        margin-left: 14px;
        margin-top: 3px;
        height: 100%
    }
        #user {
            padding: 0;
            height: fit-content;
            display: flex;
            text-align: start;
            align-items: center;
        }
            #user > h3 {
                font-size: 10pt;
                font-weight: 600;
                color: white;
                margin: 0;
            }
            #status {
                margin: 0;
                font-size: 8pt;
                color: #B9DDE7;
                margin-left: 8px;
            }

        #message {
            padding: 0;
            margin: 0;
            height: fit-content;

            display: flex;
            text-align: start;
            align-items: center;

            color: #B9DDE7;
            padding-top: 2px;
            padding-bottom: 3px;
            font-size: 8pt;
        }
        .arrowcontacts {
            margin-left: 8px;
            fill: #B9DDE7 !important;
        }

    #contactsnav {
        background-image: url("assets/background/msgres_navbar.png");
        background-size:100% 100%;

        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 31px;
        padding: 0;
        box-shadow: 0px 1px 2px #00000077;
    }
        .iconbar {
            list-style: none;
            margin: 0;
            padding: 3px 8px 2px 8px;
        }
            .contactaction {
                height: 25px;
                width: 28px;
                margin: 0 2px;
                marker: none;
            }
                #left > .contactaction {
                    float: left;
                }
                #right > .contactaction {
                    float: right;
                }

    .search {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 38px;
        padding: 8px 8px 8px 7px;

        border-bottom: thin solid #e2eaf3;
    }
        #contact-search {
            font-size: 8pt;
            height: 23px;
            width: 100%;
            padding: 8px;
            margin-right: 7px;
            
            border: thin solid #c7c7c7;
            box-shadow: inset 0 0 3px #0000002a;
        }
        #contact-search:focus {
            border: thin solid #52c9fd;
            box-shadow: 0 0 6px #52cafdbe;
        }

        .searchbar-btn {
            height: 23px;
            width: 22px;
            border: 2px solid transparent;
        }
        .searchbar-btn:hover {
            border-image: url("assets/button_border.png") 2 round;
        }
        .searchbar-btn:active {
            border-image: url("assets/button_border_down.png") 2 round;
        }

    .contact-list {
        flex: 1;
        margin: 0;
        padding: 0;
        max-height: 100%;
        list-style: none;
        overflow: auto;
    }
        .listitem {
            border: none;
            font-size: 8pt;
            text-align: start;
            height: 19px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: white;
        }
        .listitem:focus {
            background-color: #D2EAF6;
        }
            .arrow {
                width: 9px;
                height: 9px;
                margin-right: 2px;
                background: url("assets/arrows.png") 0 0;
            }

            .contact {
                padding-left: 19px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                .status-icon {
                    height: 100%;
                    box-sizing: content-box;
                }
                .contact-text {
                    margin: 0;
                    text-anchor: middle;
                    display: inline-block;
                    
                    text-overflow: ellipsis;
                }
                .message {
                    overflow: hidden;
                    white-space: nowrap;
                }

    #footer {
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        background-color: #ECF6F9;
        border-radius: 0 0 8px 8px;
        border-top: thin solid #BED6E0;
    }
        #ad {
            display: block;
            margin: 10px auto;
        }   