.aerobutton {
    background-color: transparent;
    border: 2px solid transparent;
}
.aerobutton:hover {
    border-image: url("assets/general/button_border.png") 2 round;
}
.aerobutton:active {
    border-image: url("assets/general/button_border_down.png") 2 round;
}

.emoticon {
    margin: 0 3px;
}

.smallarrowbtn {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}
.arrowdown {
    height: 5px;
    margin-left: 4px;
}

.alerts {
    display: flex;
    align-items: center;
    height: 19px;
    background-color: white;
    border: thin solid #bed6e0;
    border-bottom: none;
}
    .alerttext {
    margin: 0; margin-left: 3px; 
    }